body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
}

.wrapper > div {
    display: flex;
    flex-direction: column;
}

.som {
    margin: 50px;
}
.usd {
    margin: 50px;
}
.euro {
    margin: 50px;
}

input {
    padding: 10px 20px;
}
label {
    font-size: 20px;
}